body {
    background: #f8f8f8;
}


.component {
	float: left;
	width: 100%;
}

.window {
	float: left;
	width: 80%;
	border: solid 1px #f8f8f8;
	padding: 10px;

	.message-row {
		width: 100%;
		clear: both;
	}

	span {
		display: inline-block;

		&.timestamp {
			width: 5%;
		}

		&.sender {
			margin-right: 10px;
		}

		&.message {
			width: 80%;
		}
	}
}

.input-panel {
	width: 80%;

	input {
		width: 100%;
	}
}

.user-panel {
	float: right;
	width: 20%;

	ul {
		list-style-type: none;

		li {

		}
	}
}

.button-panel {
	clear: both;
	width: 100%;
	border: solid 1px gray;
}